<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/dashboard.css">
</head>
<body>
    <header class="header bg-primary fixed-top">
        <nav class="nav container d-flex flex-row align-items-center justify-content-between px-3">
            <a href="/dashboard" class="header-logo fw-bold text-light">FOLIO</a>
            <i class="fa-solid fa-bars hamburger fw-bold text-light d-lg-none"></i>
        </nav>
    </header>

    <main class="main container d-lg-flex flex-row-reverse flex align-items-start">
        <section class="profile pt-5 pt-lg-0">
            <div class="profile-container container d-flex flex-column align-items-start justify-content-start p-3 py-5 pt-lg-5 pb-lg-4">
                <h1 class="welcome-text align-self-start mt-5">Welcome, {{ user.name }}</h1>
                <div class="profile-info position-relative d-flex flex-column flex-md-row align-items-center justify-content-center mt-3 py-5 py-md-0">
                    <a href="/profile"><i class="fa-solid fa-pen edit text-primary p-2">&nbsp Edit</i></a>
                    <div class="profile-info-text p-3">
                        <div class="top ">
                            <h1 class="user-name fw-bold text-primary text-center text-md-start m-0">{{ user.name }}</h1>
                            <p class="location text-center text-md-start">{{default user.city "Default Value"}}</p>
                        </div>
                        <div class="bottom mt-5">
                            <p class="mb-md-1">Email: </p>
                            <p class="mb-md-1 ms-xl-4">{{default user.email "Null"}}</p>
                            <p class="mb-md-1">City: </p>
                            <p class="mb-md-1 ms-xl-4">{{default user.city "Null"}}</p>
                            <p class="mb-md-1">State: </p>
                            <p class="mb-md-1 ms-xl-4">{{default user.state "Null"}}</p>
                            <p class="mb-md-1">Country: </p>
                            <p class="mb-md-1 ms-xl-4">{{default user.country "Null"}}</p>
                            <p class="mb-md-1">Phone: </p>
                            <p class="mb-md-1 ms-xl-4">{{default user.number "Null"}}</p>
                        </div>
                    </div>
                </div>
                <div class="summary p-3 mt-4">
                    <h1 class="summary-header fw-bold text-primary">Summary</h1>
                    <p class="summary-text mt-4">{{user.summary}}</p>
                </div>
            </div>
        </section>

        <section class="sidebar p-3 bg-light py-5 p-lg-0 pt-lg-5">
            <ul class="sidebar-top p-0 pb-5 m-0 mt-5 ps-lg-3">
                <li class="dashboard fw-semibold mb-3"><a href="/dashboard">Dashboard</a></li>
                <li class="templates fw-semibold mb-3"><a href="/create-portfolio">Portfolio</a></li>
                <li class="my-portfolio fw-semibold mb-3"><a href="{{default user.portfolioUrl "Null"}}">My Portfolio</a></li>
            </ul>
            <ul class="sidebar-bottom p-0 pt-5 ps-lg-3">
                <li class="edit-profile fw-semibold mb-3"><a href="/profile">Profile</a></li>
                <li class="sign-out fw-semibold mb-3"><a href="/signout">Sign out</a></li>
            </ul>
        </section>
    </main>

    <script src="./js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./js/script.js"></script>
</body>
</html>